 p {
    white-space: pre-wrap
 }

 .img-thumbnail {
    padding: .25rem;
    height: 150px;
    width: 200px;
    margin: .125rem
 }

 .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
 }

 .row {
    justify-content: space-evenly;
 }

 .col {
    flex-grow: 0;
 }
